//color variables
$elephant-main: #00aeef;
$elephant-stroke: #2f425e;
$elephant-tusk: #ebe5d7;
$background-color: #0091c5;

body {
  background-color: #c5b5a4;
}

.frame {
  display: block;
  border: 10px solid white;
  position: relative;
  margin: 100px auto;
  height: 450px;
  width: 450px;
  background-color: $background-color;
  
  .elephant-container {
    width: 350px;
    height: 400px;
    display: block;
    position: relative;
    transform: translateY(10%);
    margin: 0 auto;
    
  }
  
  .elephant-trunk {
    display: block;
    position: absolute;
    height: 110px;
    width: 110px;
    border-radius: 150px;
    background: $background-color;
    transform: 
      translateY(240px)
      translateX(60px);
    box-shadow:
      0 0 0 10px $elephant-stroke,
      8px 0 0 30px $elephant-main,
      8px 0 0 40px $elephant-stroke;
  }
  
  .elephant-tusk-left {
    display: block;
    position: absolute;
    height: 125px;
    width: 125px;
    border-radius: 150px;
    background: $background-color;
    transform: 
      translateY(110px)
      translateX(-1px)
      rotate(-35deg);
    box-shadow:
      0 0 0 10px $elephant-stroke,
      10px 10px 0 30px $elephant-tusk,
      10px 10px 0 40px $elephant-stroke;
  }
  .elephant-tusk-right {
    display: block;
    position: absolute;
    height: 125px;
    width: 125px;
    border-radius: 150px;
    background: $background-color;
    transform: 
      translateY(110px)
      translateX(210px)
      rotate(145deg);
    box-shadow:
      0 0 0 10px $elephant-stroke,
      10px 10px 0 30px $elephant-tusk,
      10px 10px 0 40px $elephant-stroke;
  }
  
  .elephant-head {
    display: block;
    position: absolute;
    height: 190px;
    width: 190px;
    border-radius: 200px;
    background-color: $elephant-main;
    transform:
      translateX(60px)
      translateY(20px)
      rotate(-12deg);
    box-shadow:
      0 0 0 10px $elephant-stroke;
    
    &:before {
      content: "";
      position: absolute;
      display: block;
      width: 45px;
      border-top: 130px solid $elephant-main;
      border-right: 70px solid transparent;
      border-left: 70px solid transparent;
      transform:
        translateX(2px)
        translateY(118px);
    }
    
    &:after {
      content: "";
      position: absolute;
      height: 0;
      width: 130px;
      border-top: 9px solid $elephant-stroke;
      border-right: 8px solid transparent;
      border-left: 20px solid transparent;
      transform:
        translateX(-43px)
        translateY(182px)
        rotate(57deg);
    }
  }
    
    .elephant-countouring {
      content: "";
      position: absolute;
      height: 0;
      width: 92px;
      border-top: 9px solid $elephant-stroke;
      border-right: 10px solid transparent;
      border-left: 5px solid transparent;
      transform:
        translateX(170px)
        translateY(209px)
        rotate(290deg);
    }
  .elephant-ear-right {
    position: absolute;
    display: block;
    height: 190px;
    width: 130px;
    border-radius: 20px;
    background: $elephant-main;
    // z-index: 2;
    transform:
      translateX(-40px)
      translateY(5px)
      rotate(-40deg);
    box-shadow:
        0px 0px 0 10px $elephant-stroke;
    &:before {
    content: "";
    position: absolute;
    display: block;
    height: 100px;
    width: 150px;
    border-radius: 20px;
    background: $elephant-main;
    transform:
      translateX(56px)
      translateY(28px)
      rotate(40deg);
    box-shadow:
        10px -10px 0 1px $elephant-stroke;
    }
    &:after {
          content: "";
    position: absolute;
    display: block;
    height: 100px;
    width: 150px;
    border-radius: 20px;
    background: $elephant-main;
      z-index: 1;
    transform:
      translateX(8px)
      translateY(134px)
      rotate(40deg);
      box-shadow:
        10px 10px 0 0 $elephant-stroke;
    }
  }
  .elephant-ear-left {
    position: absolute;
    display: block;
    height: 190px;
    width: 130px;
    border-radius: 20px;
    background: $elephant-main;
    // z-index: 2;
    transform:
      translateX(240px)
      translateY(5px)
      rotate(220deg);
    box-shadow:
        0px 0px 0 10px $elephant-stroke;
    &:before {
    content: "";
    position: absolute;
    display: block;
    height: 100px;
    width: 150px;
    border-radius: 20px;
    background: $elephant-main;
    transform:
      translateX(57px)
      translateY(62px)
      rotate(140deg);
    box-shadow:
        -10px -10px 0 1px $elephant-stroke;
    }
    &:after {
    content: "";
    position: absolute;
    display: block;
    height: 100px;
    width: 150px;
    border-radius: 20px;
    background: $elephant-main;
      z-index: 1;
    transform:
      translateX(4px)
      translateY(-8px)
      rotate(-130deg);
      box-shadow:
        10px 10px 0 0 $elephant-stroke;
    }
  }
  
  .elephant-eyes-right {
    position: absolute;
    display: block;
    height: 10px;
    width: 20px;
    background: #ff7e2b;
    border-radius: 0 0 20px 20px;
    transform:
      translateY(125px)
      translateX(35px)
      rotate(20deg);
    box-shadow:
      0 0 0 8px $elephant-stroke;
  }
  .elephant-eyes-left {
      content: "";
          position: absolute;
    display: block;
    height: 10px;
    width: 20px;
    background: #ff7e2b;
    border-radius: 0 0 20px 20px;
    transform:
      translateY(130px)
      translateX(135px)
      rotate(-20deg);
    box-shadow:
      0 0 0 8px $elephant-stroke;
    }
}